html, body { font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif; font-size: 16px; color: #fff; -webkit-font-smoothing: antialiased; background: transparent; }

html, body { background-color: #121212; }

a, a:link, a:visited, a:active, ._p { color: #0099cc; text-decoration: none; }
a:hover { text-decoration: underline; color: #d4d4d4; }

form input,
form textarea {
    background-color: #e4e4e4 !important;
}