.bt-gh {
    margin-bottom: 0;
    background-color: #121212;
    font-weight: 400;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bt-gh .navbar-brand, .bt-gh .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.bt-gh .navbar-brand {
    background: url('/resources/global/images/logo/brand-logo.png') no-repeat;
    padding-left: 64px;
    background-position: left 0;
    background-size: 80px auto;
    position: relative;
}
.bt-gh .navbar-brand h1 {
    position: absolute;
    text-indent: -9999px;
}
.bt-gh .navbar-brand:hover {
    color: #0099cc;
}
.bt-gh .navbar-nav > li > a {
    color: #fff;
}
.bt-gh .navbar-nav > li > a:hover, .bt-gh .navbar-nav > .active > a, .bt-gh .navbar-nav > .active > a:hover, .bt-gh .navbar-nav .open > a:focus, .navbar-default .navbar-nav > .open > a {
    color: #0099cc;
    background-color: transparent;
}
.bt-gh .navbar-nav .open > a:focus, .navbar-default .navbar-nav > .open > a {
    background-color: #c8e1eb;
}
.bt-gh .navbar-toggle {
    margin: 15px;
}
.bt-gh .navbar-toggle .icon-bar {
    background-color: #0099cc;
}
.bt-gh .navbar-header .navbar-toggle {
    border-color: #fff;
}
.bt-gh .navbar-header .navbar-toggle:hover, .bt-gh .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.bt-gh .dropdown-menu {
    border-color: #f9f9f9;
}
.bt-gh .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
.bt-gh .dropdown-menu > li:hover > a {
    background-color: #c8e1eb;
    color: #0099cc;
}